---
import Greeting from '@/components/Greeting.svelte'
import PlayListItemCard from '@/components/PlayListItemCard.astro'
import Layout from '@/layouts/Layout.astro'
import { playlists } from '@/lib/data'
---

<Layout title='Spotify Clone.'>
  <div
    id='playlist-container'
    class='relative transition-all duration-1000 bg-green-600 overflow-hidden'
  >
    <!-- <PageHeader /> -->

    <div class='relative z-10 pt-2 px-6 h-full overflow-y-auto scrollbars-invisible'>
      <Greeting />

      <div class='grid grid-cols-4 gap-6'>
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>

    <div class='absolute inset-0 bg-gradient-to-t rounded-none from-zinc-900 via-zinc-900/80 z-[4]'
    ></div>
  </div>
</Layout>

<style>
  #playlist-container {
    height: calc(100% - 8px);
  }
</style>
