---
import HomeIcon from '@/icons/Home.astro'
import SearchIcon from '@/icons/Search.astro'
import { playlists } from '@/lib/data'
import SideHeaderButton from './SideHeaderButton.astro'
import SideMenuCard from './SideMenuCard.astro'
import SideMenuItem from './SideMenuItem.astro'
---

<nav class='flex flex-col w-full h-full gap-2'>
  <div class='bg-zinc-900 rounded-lg'>
    <ul class='px-3 py-2'>
      <SideMenuItem href='/'>
        <HomeIcon />
         Home
      </SideMenuItem>
      <SideMenuItem href='/#'>
        <SearchIcon />
         Search
      </SideMenuItem>
    </ul>
  </div>

  <div class='flex flex-col h-full w-full overflow-hidden bg-zinc-900 rounded-lg'>
    <SideHeaderButton />

    <div class='h-full w-full pt-0 pb-2 px-2 overflow-y-auto scrollbars-invisible'>
      <ul>
        {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
      </ul>
    </div>
  </div>
</nav>
