---
import LibraryIcon from '@/icons/Library.astro'
---

<header class='flex flex-col gap-2 py-2 px-4'>
  <button
    class='flex flex-shrink-0 h-[40px] justify-start items-center gap-3 py-1 px-2 cursor-pointer text-zinc-400 hover:text-zinc-100 font-medium transition duration-300'
  >
    <LibraryIcon />
     Your Library
  </button>
</header>
