---
// import AsideMenu from '@/components/AsideMenu.astro'
import AsideMenu from '@/components/AsideMenu.astro'
import { Player } from '@/components/Player'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <ViewTransitions fallback='none' />
  </head>
  <body
    class='flex flex-col h-full min-h-[600px] w-full min-w-[800px] leading-normal scrollbars-invisible'
  >
    <div
      id='app'
      class='relative h-full min-h-full w-full gap-2 p-2 z-0 bg-black'
    >
      <aside class='[grid-area:aside] flex flex-col min-h-0 relative z-[4]'>
        <AsideMenu />
      </aside>

      <main
        class='[grid-area:main] flex flex-col rounded-lg bg-zinc-900 relative min-h-0 min-w-full overflow-hidden'
      >
        <slot />
      </main>

      <footer class='[grid-area:player] flex flex-col h-auto w-full min-w-[620px] z-[6]'>
        <Player
          client:load
          transition:name='media-player'
          transition:persist
        />
      </footer>
    </div>

    <style>
      #app {
        display: grid;
        grid-template-areas: 'aside main main' 'player player player';
        grid-template-columns: 412px 1fr;
        grid-template-rows: 1fr auto;
      }
    </style>

    <style is:global>
      html {
        background: #121212;
        height: 100%;
      }

      body {
        font-family: 'CircularStd', system-ui, sans-serif;
        color: #b3b3b3;
        text-transform: none;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Book.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: 'CircularStd';
        src: url('/fonts/CircularStd-Black.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }

      .scrollbars-invisible::-webkit-scrollbar,
      .scrollbars-invisible::-webkit-scrollbar-corner {
        background: transparent !important;
        display: none !important;
        height: 0 !important;
        visibility: hidden !important;
        width: 0 !important;
      }
    </style>
  </body></html
>
